body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #ffffff;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 90%;
    max-width: 400px;
    position: absolute;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

header {
    margin-top: 20px;
    text-align: left;
}

header h1 {
    color: #a6da95;
    font-size: 24px;
}

header h2 {
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

button {
    background-color: #a6da95;
    color: #ffffff;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #89b67a;
}

.slide-left {
    transform: translateX(-100%);
    opacity: 0;
}

.register-page {
    transform: translateX(100%);
    opacity: 0;
}

.slide-in {
    transform: translateX(0);
    opacity: 1;
}

.content-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

.box-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
}

.box-content h3 {
    margin: 0;
    font-size: 18px;
}

.box-content p {
    margin: 5px 0 0 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.material-icons {
    margin-right: 5px;
}
